<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var socket = io();

            socket.on('now_playing', function(msg, cb) {
                $('#player').text(JSON.stringify(msg))
            });

            socket.on('queue', function(msg, cb) {
                $('#queue').text(JSON.stringify(msg))
            });

            $('form#send_command').submit(function(event) {
                socket.emit('command', {action: $('#action').val(), param: $('#param').val()});
                return false;
            });
        });
    </script>
</head>
<body>
    <h1>Flask-SocketIO Test</h1>
    <h2>Send:</h2>
    <form id="send_command" method="POST" action='#'>
        <input type="text" name="action" id="action" placeholder="Action">
        <input type="text" name="param" id="param" placeholder="Param">
        <input type="submit" value="Send command">
    </form>
    <h2>Player:</h2>
    <div id="player"></div>
    <h2>Queue:</h2>
    <div id="queue"></div>
</body>
</html>