<!DOCTYPE HTML>
<html>
<head>
    <title>Youtube Jukebox</title>
    <!-- TODO: look into vue.js -->
    <style>
        .column {
            float: left;
            width: 50%;
            height: fit-content;
        }

        @media screen and (max-width: 1024px) {
            .column {
                width: 100%;
            }
        }


    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
            integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
            crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            var animationActive = null;
            function start_animation(start, duration){
                if (animationActive) {
                    clearInterval(animationActive);
                }

                function animate() {
                    var diff = Date.now() - start;
                    if (diff > duration) {
                        $('#playpercent').width("0%");
                        clearInterval(animationActive);
                    }
                    var progressBarWidth = 100*(diff / duration);
                    $('#playpercent').animate({
                        width: progressBarWidth + '%'
                    }, {duration: 1000, easing: "linear" });
                }

                animate();
                animationActive = setInterval(animate, 1000);
            }


            var socket = io();

            socket.on('now_playing', function(msg, cb) {
                $('#player').text(JSON.stringify(msg))
                $('#volpercent').width(msg['volume'] + "%");
                $('#now_playing_art').attr("src", msg['current_track']['thumbnail_url']);
                $('#now_playing_title').text(msg['current_track']['title']);
                $('#now_playing_artist').text(msg['current_track']['artist']);


                if (msg['current_track_length'] !== 0) {
                    if (msg['is_playing'] === 1) {
                        start_animation(msg['position'], msg['current_track_length'])
                    } else {
                        if (animationActive) {
                            clearInterval(animationActive);
                        }
                        $('#playpercent').width((msg['position'] / msg['current_track_length']) + "%");
                    }
                } else {
                    if (animationActive) {
                        clearInterval(animationActive);
                    }
                    $('#playpercent').width("0%");
                }
            });

            socket.on('queue', function(msg, cb) {
                $('#queue').text(JSON.stringify(msg))
            });

            $('form#send_command').submit(function(event) {
                socket.emit('command', {action: $('#action').val(), param: $('#param').val()});
                return false;text
            });

            $('#voldown').click(function(event) {
                socket.emit('command', {action: 'voldown'});
                return false;
            });

            $('#volup').click(function(event) {
                socket.emit('command', {action: 'volup'});
                return false;
            });
        });


    </script>
</head>
<body>
<div class="row">
    <div class="column">
        <div style="padding:50px">
            <p id="player"></p>

            <form id="send_command" method="POST" action='#'>
                <input type="text" name="action" id="action" placeholder="Action">
                <input type="text" name="param" id="param" placeholder="Param">
                <input type="submit" value="Send command">
            </form>

            <!-- Volume bar -->
            <div style="margin: auto;display:flex;justify-content: center">
                <div id="voldown" style="display:inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="64px" height="64px">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M18.5 12c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM5 9v6h4l5 5V4L9 9H5z"/>
                    </svg>
                </div>
                <div style="color:#000!important;background-color:#f1f1f1!important;margin-top:auto;margin-bottom:auto;height:40px;width:200px">
                    <div style="color:#000!important;background-color:#9e9e9e!important;height:100%"
                         id="volpercent"></div>
                </div>
                <div id="volup" style="display:inline-block">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="64px" height="64px">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z"/>
                    </svg>
                </div>
            </div>

            <div style="margin: auto;display:flex;justify-content: center;padding:20px">
                <img id="now_playing_art" src="" style="height:100%;width:100%;max-width:720px">
            </div>

            <div style="margin: auto;display:flex;justify-content: center">
                <p id="now_playing_title" style="text-align:center"></p>
            </div>

            <div style="margin: auto;display:flex;justify-content: center">
                <p id="now_playing_artist" style="text-align:center"></p>
            </div>

            <div style="margin: auto;display:flex;justify-content: center">
                <div style="color:#000!important;background-color:#f1f1f1!important;margin-top:auto;margin-bottom:auto;height:10px;width:400px">
                    <div style="color:#000!important;background-color:#9e9e9e!important;height:100%;width:0%"
                         id="playpercent"></div>
                </div>
            </div>


        </div>
    </div>
    <div class="column">
        <h2>Queue:</h2>
        <div id="queue_container">
            <p id="queue"></p>
        </div>

    </div>
</div>

</body>
</html>