html, body {
    position: relative;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #333333;
    color: #ffffff;
    font-weight: 400;
}
.hidden {
    display: none;
}

.column {
    float: left;
    width: 50%;
    height: 100vh;
    padding-top: 0px;
}



.compress {
    height: fit-content !important;
}

.text-compress {
    height: unset !important;
}

.flex {
    display: flex !important;
}

.flex-grow {
    flex-grow: 1 !important;
}

.no-shrink {
    flex-shrink: 0 !important;
}

.mdl-slider__container {
    flex-grow: 1 !important;
}

.mdl-slider__background-lower {
    display: none !important;
}

.mdl-slider__background-upper {
    display: none !important;
}

.mdl-slider__background-flex {
    background: rgb(158,158,158);
}

// Fix broken focus for sliders in firefox
.mdl-slider.is-upgraded:focus:not(:active)::-moz-range-thumb {
    box-shadow: unset !important;
}

h6 {
    margin: unset !important;
}

.mdl-grid {
    position: relative;
    z-index: 2;
    height: calc(100% - 40px);
    margin: 0;
    padding: 0;
}

.mdl-cell {
    min-height: 97%;
    overflow: hidden;
}

.player-cell {
    height: 97%; /*bug fix for safari */
}
.player {
    position: relative;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.controller-container {
    position: relative;
    width: 90%;
    height: 90%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card-image {
    min-height: inherit;
}

.card-image.mdl-card {
    background-color: #e0e0e0;
    background-position: center;
    background-size: cover;
}

.mdl-card__supporting-text {
    color: #fff;
    font-size: 3vw;
    font-weight: 300;
    background: rgba(0, 0, 0, 0.5);
}
.mdl-card__supporting-text span {
    font-size: 3.5vw;
    font-weight: 400;
}
.span-artist {
    font-weight: 300;
}

.button {
    cursor: pointer;
}

.mdl-spinner {
    height: 50px;
    width: 50px;
}

.searchUI {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    height: 100vh;
    padding-bottom: 0px;
}

.searchContainer {
    width: 90%;
    height: 90%;
}

.mdl-list {
    margin: 0 !important;
    padding: 0 !important;
}

.track-row {
    background-color:#e0e0e0;
    margin: 2px;
}

/* search bar */
.searchBar {
    width: 100%;
    border: 1px solid #ffffff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 3;
}

.searchBar,
.searchBar form,
.searchBar input {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.searchBar,
.searchBar form {
  /* Cross browser inline-flex */
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.searchBar button {
    color: #fff;
    width: 35px;
    height: 35px;
    margin: 5px;
}

.searchBar input {
    opacity: 1;
    outline: none;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    background-color: transparent;
    padding: 0px 20px 0px 20px;
    height: 45px;
    line-height: 45px;
}

.searchBar input::-webkit-input-placeholder { /* WebKit browsers */
    color: #FFFFFF;
    font-weight: 300;
}

.searchBar input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #FFFFFF;
    font-weight: 300;
    opacity: 1; /* Firefox gives the placeholder a reduced opacity so we have to increase it */
}

.searchBar input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #FFFFFF;
    font-weight: 300;
}

/*results grid starts*/

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40vw 40vw 40vw;
    grid-gap: 5px;
}

.grid-item {
    width: 100%;
}

/*results grid ends*/

.displayTitle {
    color: #ffffff;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
}

.displayRow {
    margin: 0px 0;
    height: calc(90vh - 100px);
    overflow-y: auto;
}

.spinner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    margin-right: 16px;
    width: 100px;
}

.textinfo {
    margin: 0px;
}

.blocker {
    display: none;
}

.links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 9;
    width: 100%;
    bottom: 0;
    background-color: #0E0E0E;
    color: #fff;
    height: 40px;
}

.links p {
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.links img, .links a {
    height: 76%;
    margin: 12% 5px;
}

.links img {
    -o-object-fit: cover;
    object-fit: cover
}

/*===*** TABLET LAYOUT ***===*/

@media (max-width: 1023px) {
    .mdl-card__supporting-text {
        font-size: 0px;
        line-height: 0px;
    }
    .mdl-card__supporting-text span {
        font-size: 1.8vw;
        line-height: normal;
    }
    .displayRow {
        height: unset;
    }
    .column {
        width: 100%;
        height: unset;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .searchUI {
        height: fit-content !important;
        padding-bottom: 40px;
    }
}



/*===*** DESKTOP LAYOUT ***===*/

@media (min-width: 1024px) {
    .mdl-card__supporting-text {
        line-height: 1.2vw;
        font-size: 0.9vw;
    }
    .mdl-card__supporting-text span {
        font-size: 1vw;
    }
    .grid {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 10vw;
    }
    .mdl-cell {
        overflow: inherit;
    }
    .player-cell {
        height: 97%; /*bug fix for safari */
    }

}